$body-color: #fefaf6;
$main-text-color: #261C15;
$underline-color: #ffc4ff;
$special-highlight-color: #9b369b;
$special-color: #ffff;
$highlight-color: #F05D23, #640f1f; 

$font-stack:    'Poppins', sans-serif;
$font-stack:    'Alice', serif;