$body-color: #fefaf6;
$main-text-color: #191919;
$main-underline-color: #8AAA79;
$underline-color: #ffccff;
$highlight-color:  #657153;

$font-stack:    'Poppins', sans-serif;
$font-stack:    'Alice', serif;