* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #191919;
    font-size: 18px;
}

p {
  margin-top: 0;
  margin-bottom: 30px;
}

h1 {
  font-size: 70px;
  font-family: 'Alice', serif;
  margin-top: 0;
  margin-bottom: 30px;
}

h2 {
  font-size: 25px;
} 

.header li, a {
  text-decoration: none;
}

header {
    z-index: 100;
    display: flex;
    width: 100%;
    top: 0px;
    position: fixed;
    padding: 30px;
    background: hsla(0,0%, 100%, 0);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
}

#speacial-header-1 {
  z-index: 100;
  display: flex;
  width: 100%;
  top: 0px;
  position: fixed;
  padding: 30px;
  background: #fefaf6;
}

body {
    background-color: #fefaf6;
    margin: 0% 0% 15% 0%;
}

.current a {
  font-size: 20px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    margin: 0 0 0 25px;
    padding: 0 20px 0 0;
}

.nav-links a {
    transition: all 0.5s ease 0s;
}

#main-content {
    margin: 15% 50% 15% 5%;
    opacity: 1;
    transform: translateY(0px);
}

.underline {
    background-image: linear-gradient(transparent 90%, #ffc4ff 0%);
    background: #ffccff;
    transform: rotate(-1deg);
    transition: all .2s cubic-bezier(.175,.885,.32,1.275);
}

.continue {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #8AAA79;
  padding: 10em;
  max-width: 95%;
  margin: 0 auto;
  border-radius: 20px;
}

.line-deco:hover {
 color: #657153;
 transition: all .2s ease-in-out;
}

.continue-container {
  width: 50%;
}

.continue-left {
  text-align: right;
  margin: 0;
  padding: 2em;
}

.prev-text {
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  display: block;
}

.continue-right {
  padding: 0 2em;
}

.next-text {
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  display: block;
}

.line-deco::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  background-color: #8AAA79;
  left: 0;
  bottom: 0;
}

.line-deco {
  position: relative;
  font-family: 'Alice', serif;
  font-size: 40px
}


  /* ABOUT */
  .s-section {
  position: relative;
  z-index: -1;
  text-align: center;
  padding: 200px 0 170px;
  background-image: linear-gradient(to right,#afaaff, #f7ccff);
  animation: fadeSlide .8s;
}

@keyframes fadeSlide {
  0% {transform: translateY(-100px); opacity:0;}
  100% {transform: translateY(0); opacity:1;}
}

#flex-images img:hover {
  transition: all .2s ease-in-out;
  box-shadow: 0 20px 50px rgba(0,0,0,.25)
}


/* WORK */
.w-section {
  position: relative;
  text-align: right;
  margin: 15% 5% 15% 5%;

}

@keyframes bounceText {
	0% {
		transform: translateY(0%); opacity: 0;
	}

	20% {
    transform: translateY(-15%);
  }

  100% {
    opacity:1;
  }
}

.bounce-text {
  animation: bounceText .8s;
}

#project-cards {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10em;
  margin-bottom: 10em;
  max-width: 80%;
  flex-direction: column; 
  gap: 8em;
}

#img-1 {
  float: right;
  padding: 15%;
}

#card-1 {
  background: linear-gradient(to bottom, #ffccff 0%, #ffffff 100%);
  border-radius: 5px;
  padding: 3em 3em 4em;
}

#card-1:hover {
  transition: all .2s ease-in-out;
  box-shadow: 0 20px 50px rgba(0,0,0,.12)
}

#line-deco-2:hover {
  color: #657153;
  transition: all .2s ease-in-out;
}

#line-deco-2::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  background-color: #8AAA79;
  left: 0;
  bottom: 0;
}

#line-deco-2 {
  position: relative;
}

.para-space p {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mini-text {
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  display: block;
}


/* CONTACT */
#w-body-styling {
  margin: 20% 50% 25% 5%;
}

.open-btn {
  position: absolute;
  margin: 50px 0;
  background: #191919;
  text-align: center;
  padding: 25px;
  color: #fefaf6;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  border-radius: 5px;
}

.open-btn:hover {
  opacity: 1;
  transition: all .2s ease-in-out;
}

.contact-form {
  position: relative;
  display: none;
  max-width: 100%;
  margin-top: 50px;
  background: #ffccff;
  padding: 30px;
  border-radius: 5px;
  flex-direction: column;
  margin-bottom: 10em;
}

.input-fields {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}

.input-fields, .msg {
  width: 50%;
}

.input-fields .input, .msg textarea {
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #191919;
  padding: 10px;
  color: #191919;
  width: 100%;
}

.msg textarea {
  height: 212px;
  resize: none;
}

::-webkit-input-placeholder {
  color: #191919;
}

::-moz-input-placeholder {
  color: #191919;
}

::-ms-input-placeholder {
  color: #191919;
}

.btn {
  margin-top: 20px;
  background: #191919;
  text-align: center;
  padding: 25px;
  border-radius: 5px;
  color: #fefaf6;
  cursor: pointer;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .contact-form {
    flex-direction: row;
  }
  .msg textarea {
    height: 80px;
  }
  .msg {
    width: 100%;
  }
}